.main-accueil {
    background-image: url('../../../public/assets/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    box-sizing: border-box;
}

header {
    text-align: center;
    margin-bottom: 10px;
    padding: 0 10px;
}

h1 {
    font-size: 4.5em;
    font-weight: 600;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.937);
    margin-bottom: 10px;
}

h3 {
    font-size: 1.5em;
    color: white;
    text-shadow: 2px 2px 4px rgba(250, 250, 250, 0.5);
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
}

.video-container {
    max-width: 800px;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 30px auto;
    position: relative;
    padding-bottom: 56.25%;
    height: 58vh;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

@media (max-width: 768px) {
    h1 {
        font-size: 3.5em;
    }

    h3 {
        font-size: 1.2em;
    }

    .video-container {
        max-width: 90%;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 3em;
    }

    h3 {
        font-size: 1em;
    }

    .video-container {
        height: 47vh;
    }
}
