.footer {
    background-color: white;
    color: #fff;
    text-align: center;
    padding: 20px 10px;
}

.footer-content p {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: #2d3852;
}

.footer-links {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.footer-links li {
    display: inline;
}

.footer-links a {
    color: #2d3852;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer-links a:hover {
    color: #76d63f;
}

.footer-links i {
    font-size: 1.2em;
}

@media (max-width: 600px) {
    .footer-links {
        flex-direction: row;
        gap: 10px;
    }
}