.flex {
    display: flex;
}

.shampo {
    background-image: url('../../../public/assets/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
}


/* Styles pour Swiper */
.shampo .images {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 20px;
}

.shampo .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.shampo .swiper-slide img {
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}

/* Styles pour la pagination */
.swiper-pagination {
    position: relative;
    margin-top: 10px;
}

.swiper-pagination-bullet {
    background: #76d63f;
    width: 12px;
    height: 12px;
    opacity: 0.8;
}

.swiper-pagination-bullet-active {
    background: #2d3852;
}


.shampo h2 {
    text-align: center;
    font-size: 2rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.937);
    padding-top: 6rem;
}

.shampo .description {
    text-align: left;
    margin: 0 2rem;
}

.shampo .description h4 {
    color: #fff;
    text-shadow: 2px 2px 4px rgba(14, 13, 13, 0.937);
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: underline #76d63f;
}

.shampo .description p {
    font-size: 1.3rem;
    color: #fff;
    line-height: 2rem;
}

.shampo .mode-emploi {
    text-align: left;
    margin-left: 2rem;
}

.shampo .mode-emploi h4 {
    color: #fff;
    text-shadow: 2px 2px 4px rgba(14, 13, 13, 0.937);
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: underline #76d63f;
}

.shampo .mode-emploi p {
    font-size: 1.3rem;
    line-height: 2rem;
    color: #fff;
}

.shampo .precaution {
    text-align: left;
    margin-left: 2rem;
}

.shampo .precaution h4 {
    color: #fff;
    text-shadow: 2px 2px 4px rgba(14, 13, 13, 0.937);
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: underline #76d63f;
}

.shampo .precaution p {
    font-size: 1.3rem;
    line-height: 2rem;
    color: #fff;
}

.shampo h5 {
    text-align: center;
    font-size: 1.3rem;
    border: 3px solid #76d63f;
    padding: 10px;
    width: 85%;
    margin: 2rem auto;
    border-radius: 50px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(14, 13, 13, 0.937);
}

.shampo p {
    text-align: left;
    margin-left: 2rem;
    margin-top: 2rem;
    font-size: 1.3rem;
    color: #fff;
}

.shampo .prix {
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.shampo .prix p {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 2rem 0;
    background-color: #76d63f;
    padding: 5px 20px;
    border-radius: 20px;
    color: #2d3852;
}

.shampo .commander {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shampo .commander button {
    background-color: #76d63f;
    padding: 10px;
    border-radius: 20px;
    margin: 2rem 0;
    color: #2d3852;
}

.shampo .commander button a {
    text-decoration: none;
    font-size: 1.3rem;
    color: #2d3852;
}

.shampo .commander button:hover {
    cursor: pointer;
}


.clickable-image {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.clickable-image:hover {
    transform: scale(1.1);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: auto; /* Permet le défilement sur petits écrans */
}

.modal-image {
    width: 80%; /* Ajuste la largeur sur tous les écrans */
    max-width: 800px; /* Largeur maximale sur grands écrans */
    max-height: 90vh; /* Empêche l'image de dépasser l'écran */
    border-radius: 10px;
    object-fit: contain; /* Évite les distorsions */
}

.modal:hover {
    cursor: pointer;
}


@media (max-width:600px) {
    .shampo .description p {
        margin: 0;
    }

    .shampo .mode-emploi p {
        margin: 0;
    }

    .shampo .precaution p {
        margin: 0;
    }

}

@media (max-width:380px) {
    .shampo .prix p {
        font-size: 1rem;
    }
}

@media (max-width:860px) {
    .shampo .images img {
        width: 80%;
    }
}

@media (min-width:860px) and (max-width:1024px) {
    .shampo .images img {
        width: 100%;
    }
}

@media (max-width:700px) {
    .shampo .description p {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .shampo .mode-emploi p {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .shampo .precaution p {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .shampo p {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .shampo h5 {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

@media (max-width: 768px) {
    .modal-image {
        width: 90%;
        max-width: 500px;
    }
}

@media (max-width: 480px) {
    .modal-image {
        width: 95%;
        max-width: 400px;
    }
}

@media (max-width: 360px) {
    .modal-image {
        width: 100%;
        max-width: 350px;
    }
}